header, .project:not(:last-child) {
    border-bottom: 1px solid #ccc;
  }
  
  
  .no-button {
    background: none;
    border: solid;
    padding: 0;
    cursor: pointer;
    color: #464849;
    text-decoration: underline;
    font-size: 90%;
  }
  

  .no-button:hover {
    color: #5a5b5c;
    text-decoration: underline;
  }
  
